<div class="center hero-unit">
<h1>ZIGest</h1>

 <h2>
    Pagina principale del Gestionale di ZeroInfinity. Sistema in RoR Databade in Postgres
  </h2>

 <%= link_to "Iscriviti", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("Logo.png", alt: "Rails"), 'http://ZeroInfinity.it/' %>
